<h1>The moje demo</h1>
<p>
    This is the moje demo theme that explores blog plugin. You will find files
    used by this theme in the <strong>themes/demo</strong> directory of your
    installation. - Toto je content co sa vklada do page
</p>
