<div id="footer">
    <div class="container">
        <hr />
        <p class="muted credit">
            &copy; 2013 - {{ "now"|date("Y") }} Alexey Bobkov &amp; Samuel
            Georges.
        </p>
        <p class="muted credit">Toto su vlastne partials - very cool stuff</p>
    </div>
</div>
