description = "First layout" 
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}" />
        <meta name="title" content="{{ this.page.meta_title }}" />
        <meta name="author" content="OctoberCMS" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="OctoberCMS" />
        <link
            rel="icon"
            type="image/png"
            href="{{ 'assets/images/october.png'|theme }}"
        />
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet" />
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet" />
        {% styles %}
    </head>
    <body>
        <!-- Content -->
        <section id="layout-content">{% page %}</section>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %} {% scripts %}
    </body>
</html>
